{
    {## Node ##}
    "datacenter": "{{ consul_datacenter }}",

    {## Agent ##}
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "{{ consul_log_level }}",
    "enable_syslog": {{ consul_enable_syslog | bool | to_json }},

    {## Client ##}
    "server": false,
    "client_addr": "{{ consul_client_addr }}",

    "retry_join":
    {{ consul_bootstrap_servers | to_json }},
}
