{
    {## Node ##}
    "datacenter": "{{ consul_datacenter }}",
    "domain": "{{ consul_domain }}",

    {## Agent ##}
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "{{ consul_log_level }}",
    "enable_syslog": {{ consul_enable_syslog | bool | to_json }},

    {## Server ##}
    "server": {{ consul_server | bool | to_json }},

    {## Client ##}
    "client_addr": "{{ consul_client_addr }}",
    "ui": {{ consul_ui | bool | to_json }},

    {## Telemetry ##}
    "telemetry": {
        "prometheus_retention_time": "{{ consul_prometheus_retention_time }}"
    },

    {## Auto Join ##}
    "bootstrap_expect": {{ consul_bootstrap_expect | int }},
    "retry_join":
    {{ consul_bootstrap_servers | to_json }},
}
